
<nav class="navbar">
    <div class="nav-brand">
        <a href="../../index.html">DrollCalc</a>
    </div>
    <ul class="nav-links">
        <li class="dropdown">
            <a href="#" class="dropbtn">Commonly Used</a>
            <div class="dropdown-content">
                <a href="../../Calculators/Age_Calculator/age-calculator.html">Age Calculator</a>
                <a href="../../Calculators/Emi_Calculator/emi-calculator.html">EMI Calculator</a>
                <a href="#">Matrix Calculator</a>
                <a href="#">Statistics Calculator</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Mathematics</a>
            <div class="dropdown-content">
                <a href="../../Calculators/Basic_Calculator/basic-calculator.html">Basic Calculator</a>
                <a href="../../Calculators/Scientific_Calculator/scientific-calculator.html">Scientific Calculator</a>
                <a href="../../Calculators/Matrix_Calculator/matrix-calculator.html">Matrix Calculator</a>
                <a href="../../Calculators/Statistics_Calculator/statistics-calculator.html">Statistics Calculator</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Physics</a>
            <div class="dropdown-content">
                <a href="../..//Calculators/Unit_Converter_Calculator/unit-converter-calculator.html">Unit Converter</a>
                <a href="../..//Calculators/Force_Calculator/force-calculator.html">Force Calculator</a>
                <a href="../..//Calculators/Energy_Calculator/energy-calculator.html">Energy Calculator</a>
                <a href="../..//Calculators/Velocity_Calculator/velocity-calculator.html">Velocity Calculator</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Finance</a>
            <div class="dropdown-content">
                <a href="../../Calculators/Emi_Calculator/emi-calculator.html">EMI Calculator</a>
                <a href="../../Calculators/Loan_Calculator/loan-calculator.html">Interest Calculator</a>
                <a href="#">Tax Calculator</a>
                <a href="../..//Calculators/Investment_Calculator/investment-calculator.html">Investment Calculator</a>
            </div>
        </li>
        <li><a href="about.html">About</a></li>
    </ul>
</nav>

